.container_informacoes_jogar {
    flex: 1; 
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
}

.container_imagem_jogar {
    max-width: 350px;
    margin: 10px;
    border-radius: 25px;
}

.container_botoes_jogar {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 60%;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}

.container_input_jogar {
    width: 100%;
    height: 60px;
    border-radius: 16px;
    margin: 10px;
    background-color: var(--cor-container);
    color: var(--borda-form-color);
    border: 1px solid var(--cor-info);
    padding: 1rem;
    font-size: 20px;
    font-weight: 700;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.container_input_jogar:focus {
    outline: none;
    border-color: var(--cor-borda); 
    box-shadow: 0 0 8px var(--cor-container);
}

@media screen and (max-width: 900px) {
    .container_imagem_jogar {
        order: -1;
        max-width: 200px;
    }

    .container_informacoes_jogar {
        padding: 1rem;
        width: 100%;
    }
}
