<header class="cabecalho">
    <a href="/index.html" class="cabecalho-logo">
        <img id="header-logo" src="/assets/favicon2.png" alt="Logo CDK TECK">
        <span>CDK TECK</span>
    </a>

    <nav class="main-nav">
        <div class="dropdown">
            <button class="dropdown-toggle">Universo CDK ▼</button>
            <div class="dropdown-menu">
                
                <a href="/index.html">Página Inicial</a>
                <a href="/PBI/portfolio_pbi.html">Portfólio de Dashboards</a>
                <a href="https://sensei.cdkteck.com.br" target="_blank" rel="noopener noreferrer">SenseiDB</a>
                <a href="https://gestao.cdkteck.com.br" target="_blank" rel="noopener noreferrer">Gestão RPD</a>
                <a href="/Portfolio_html/labs.html">Laboratório de Projetos</a>
                <a href="/caca_preco/caca_preco.html">Caça-Preço</a>
                <a href="/Portfolio_html/AdivinhaNumero/adivinha_numero.html">AdivinhaNumero</a>
                <a href="/Portfolio_html/geocoding/geocoding.html">Geocodificação</a>
                <a href="/Portfolio_html/unicornio/unicorn.html">Unicórnio</a>
                
            </div>
        </div>
        
        <button id="theme-toggle-btn" class="btn-theme" title="Alterar tema">
            <span class="logo-tema-escuro">☀️</span>
            <span class="logo-tema-claro">🌙</span>
        </button>
        
        <a href="#contact-modal">Contato</a>
    </nav>
</header>